body{
    font-family: Arial, Helvetica, sans-serif;
}

.parkhaeuser{
    background-color: #7F8086;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    width: 30vw;
}

.parkhaeuser-list{
    flex-wrap: wrap;
}

h2{
    color: #055394;
    
}

.progress-container {
  width: 100%;
  background-color: #eee;
  z-index: -2;
  aspect-ratio: 200/68;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background-color: #172D3F;
  transition: width 1s ease;
  z-index: -1;
}

.Silhouette{
  Width: 30vw;
  position: absolute;
}

svg{
  fill: #172D3F;
}